<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <property name="hibernate.connection.url">jdbc:mysql://bd1079468-001.eu.clouddb.ovh.net:35550/puzzlecombat</property>
        <property name="hibernate.connection.username">szaddaj</property>
        <property name="hibernate.connection.password">oba8r2IGfsS2</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">none</property>

        <mapping class="com.damian.bodzioch.puzzle.combat.model.User"/>
        <mapping class="com.damian.bodzioch.puzzle.combat.model.Family"/>
        <mapping class="com.damian.bodzioch.puzzle.combat.model.GraknorkRating"/>
        <mapping class="com.damian.bodzioch.puzzle.combat.model.Hero"/>
        <mapping class="com.damian.bodzioch.puzzle.combat.model.HeroClass"/>
    </session-factory>
</hibernate-configuration>